include config.pug

main.main_content
  form#form(action="https://www.freecodecamp.com/email-submit"
            method="post")
    h1 #{myDesc}
    input(type="email"
          id="email"
          name="email"
          placeholder="Enter your email address"
          required)
    input#submit(type="submit" value="Get stated" class="btn")

  include _features.pug

  include _how-it-work.pug

  include _pricing.pug